<div class="container-fluid"
    style="background: url('../assets/images/Travel Savvy.jpg') no-repeat center center fixed; background-size: cover; height: 80ch;">
    <div class="row d-flex justify-content-center" style="height:58vh; ">
        <div class="row d-flex justify-content-center " style="margin-top: 20px;">
        </div>
        <mat-card style="height: fit-content; width: 35%; margin-top: 100px;">
            <mat-card-content>
                <div [formGroup]="newUserForm" class="row">
                    <mat-card-header style="margin-left: 150px; color:dimgray "> <b>Sign Up</b></mat-card-header>
                    <div class="row"> <br></div>
                    <div class="row">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label style="font-weight: bold"> Name </mat-label>
                            <input matInput placeholder="Name" formControlName="name">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label style="font-weight: bold"> Username </mat-label>
                            <input matInput placeholder="Username" formControlName="username">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label style="font-weight: bold"> Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
                                formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field floatLabel="always" appearance="outline">
                            <mat-label style="font-weight: bold"> Mobile No.</mat-label>
                            <input matInput placeholder="Mobile No." formControlName="mobileNo">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <span style="margin-left: 350px; "> <a [routerLink]="['']">Login</a>
                        </span>
                    </div>

                    <div class="row">
                        <button mat-raised-button color="primary" style="width: 100px; margin-left: 170px;"
                            (click)="createAccount()"> SUBMIT
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>