<br />
<div class="container-fluid" style="cursor: grab">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-1" style="font-weight: bold; margin-left: 0px">GOIBIBO</div>
    <div class="col-1"><mat-icon>flight_takeoff</mat-icon>Flights</div>
    <div class="col-1"><mat-icon>hotel</mat-icon>Hotels</div>
    <div class="col-1"><mat-icon> train</mat-icon>Trains</div>
    <div class="col-1"><mat-icon>commute</mat-icon>Cabs</div>
    <div class="col-1"><mat-icon>directions_bus</mat-icon>Bus</div>
    <div class="col-1"><mat-icon>holiday_village</mat-icon>Holidays</div>
    <div class="col-1"><mat-icon> attach_money</mat-icon>Forex</div>
    <div class="col-1"><mat-icon> attach_money</mat-icon>My trips</div>
    <div class="col-2">
      <mat-card>
        <mat-card-content
          ><mat-icon> person_pin</mat-icon> Login/Signup</mat-card-content
        >
      </mat-card>
    </div>
  </div>
</div>
